#about-page {
    margin-top: calc(10dvh + 3rem);
    padding-bottom: 5rem;
}

#about-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: var(--text);
}

#about-subtitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--secondary);
}

.date-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}