#header {
    position: fixed;
    top: 0;
    width: calc(100vw - 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 10dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-self: center;
    background-color: transparent;
    z-index: 1;
    transition: background-color 0.3s ease;
}

#menu-desktop {
    display: flex;
    
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-option {
    color: var(--background);
    cursor: pointer;
    padding: 0rem 1rem;
    border-radius: 1rem;
}

#header-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}

#header-logo img {
    place-self: center;
    max-height: 6dvh;
}

.menu-option.selected {
    background-color: var(--secondary);
    transition: all 0.3s ease;
}


.menu-option:hover {
    background-color: var(--secondary);
    opacity: 0.8;
    transition: all 0.3s ease;
    
    
}