#overview {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: fit-content;
    margin-bottom: 100dvh;
    margin: 5rem 2rem;
    gap: 4rem;
    overflow-x: hidden;
}

#overview-content {
    width: 50%;
    margin-left: 5rem;
}

#overview-content h2 {
    font-size: 2.5em;
}

#overview-content p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-top: 1rem;
}

#overview-title {
    text-align: center;
    place-self: center;
    border-left: solid 2px var(--text);
    border-right: solid 2px var(--text);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


@media (max-width: 768px) {
    #overview-content {
        width: 90%;
        margin-left: 1rem;
    }

    #overview-content h2 {
        font-size: 2em;
    }

    #overview-content p {
        font-size: 1em;
    }

    
}