.scroll-container {
    height: 200vh; /* Make container tall enough to scroll past */
    position: relative;
}

.sticky-container {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 60vw;
    height: 60dvh;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    font-size: 1.5rem;
    line-height: 1.6em;
    
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.card-front {
    background-color: var(--secondary-400);
    color: var(--background);
}

.card-back {
    background-color: var(--secondary-300);
    color: var(--background);
    transform: rotateY(180deg);
}

.card-back p {
    margin: 0;
}

@media (max-width: 768px) {
    .card {
        width: 90vw;
        height: 70dvh;
        font-size: 1rem;
    }
}